pytest/tests/__pycache__/test_calculator.cpython-311-pytest-7.4.2.pyc
pytest/tests/__pycache__/test_fixture.cpython-311-pytest-7.4.2.pyc
pytest/tests/__pycache__/test_one.cpython-311-pytest-7.4.2.pyc
pytest/tests/__pycache__/verify_last_results.cpython-311-pytest-7.4.2.pyc
pytest/tests/__pycache__/test_calculator.cpython-311-pytest-7.4.2.pyc
pytest/tests/__pycache__/test_fixture.cpython-311-pytest-7.4.2.pyc
pytest/tests/__pycache__/test_one.cpython-311-pytest-7.4.2.pyc
pytest/tests/__pycache__/verify_last_results.cpython-311-pytest-7.4.2.pyc
pytest/__pycache__/conftest.cpython-310-pytest-7.4.2.pyc
pytest/__pycache__/conftest.cpython-311-pytest-7.4.2.pyc
